button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
  border: none;
}

body {
  margin: 0;
  color: #FFF;
  font-family: arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 28px;
  padding: 0;
  margin: 0;
  color: #FFF;
  display: inline-block;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

label {
  font-weight: bold;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
}

.button {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
  border: solid 1px #cccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.button {
  border: solid 1px rgb(60, 60, 60);
  background: linear-gradient(to bottom, rgb(101, 101, 101), #444);
  color: rgb(236, 236, 236);
}
.button:hover {
  background: linear-gradient(to bottom, rgb(94, 94, 94), rgb(55, 55, 55));
}
.button:active {
  background: linear-gradient(to bottom, #444, rgb(94, 94, 94));
  color: rgb(199, 199, 199);
}
.button {
  text-transform: capitalize;
}

#universe {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.settings-toggle {
  margin: 4px 14px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
footer .inner {
  display: inline-block;
  margin-bottom: 2px;
}
footer .inner .cogwheel {
  display: inline-block;
  margin-bottom: -5px;
  transition: transform 3s ease-in-out;
}
footer .inner .controls {
  max-height: 0px;
  padding: 0 12px;
  overflow: hidden;
  transition: all 0.5s 1s;
  margin-top: 0px;
  background-color: rgb(38, 38, 38);
  box-shadow: 0px 4px 4px #000;
}
footer .inner .controls > div {
  margin: 10px 0;
  padding: 2px 0 10px;
}
footer .inner:hover .cogwheel {
  transform: rotate(180deg);
}
footer .inner:hover .controls {
  transition-delay: 0.2s;
  box-shadow: 6px 4px 4px #000;
  max-height: 180px;
}

#fps {
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-family: monospace;
  font-size: 12px;
  color: #FFF;
  opacity: 0.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

#lifetime,
#celsize {
  width: 180px;
}
