@import "compass";
@import "buttons";
@import "shadows";
//@import "compass/css3/transition";

// Variables
$bg: #FFF;
$cog_color: #CCC;
$title-size: 28px;
$text-size: 12px;
$text-color: #FFF;
$celColor: #ab23cc;

body {
  margin: 0;
  color: $text-color;
  font-family: arial, sans-serif;
  font-size: $text-size;
}

h1{
  font-size: $title-size;
  padding: 0;
  margin: 0;
  color: $text-color;
  display: inline-block;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

label{
  font-weight: bold;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
}

.button{
  @include button;
  @include color(#444);
  text-transform: capitalize ;
}

#universe{
  width: 100%;
  height: 100%;
  background-color: $bg;
}

.settings-toggle{
  margin: 4px 14px;
}

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;


  .inner{
//    @include opacity(0.95);

    display: inline-block;
    margin-bottom: 2px;

    .cogwheel{
      display: inline-block;
      margin-bottom: -5px;
      @include transition-duration(3s);
      @include transition-timing-function('ease-in-out');
    }

    .controls{
      max-height: 0px;
      padding: 0 12px;
      overflow: hidden;
      @include transition-property(all);
      @include transition-duration(0.5s);
      @include transition-delay(1s);
      margin-top: 0px;
      background-color: darken($bg, 85);
      @include box-shadow(0px, 4px, 4px, #000);

      &>div{
        margin: 10px 0;
        padding: 2px 0 10px;
      }
    }

    &:hover{
      .cogwheel{
        @include rotate(180deg);
        @include transition-duration(3s);
      }

      .controls{
        @include transition-delay(0.2s);
        @include box-shadow(6px, 4px, 4px, #000);
        max-height: 180px;
      }
    }
  }
}

#lifetime,
#celsize{
  width: 180px;
}
