@use "sass:color";
@use "color-util" as *;
@use "buttons" as *;
@use "shadows" as *;

// Variables
$bg: #FFF;
$cog_color: #CCC;
$title-size: 28px;
$text-size: 12px;
$text-color: #FFF;
$celColor: #ab23cc;

body {
  margin: 0;
  color: $text-color;
  font-family: arial, sans-serif;
  font-size: $text-size;
}

h1 {
  font-size: $title-size;
  padding: 0;
  margin: 0;
  color: $text-color;
  display: inline-block;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

label {
  font-weight: bold;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
}

.button {
  @include button;
  @include color(#444);
  text-transform: capitalize;
}

#universe {
  width: 100%;
  height: 100%;
  background-color: $bg;
}

.settings-toggle {
  margin: 4px 14px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;

  .inner {
    display: inline-block;
    margin-bottom: 2px;

    .cogwheel {
      display: inline-block;
      margin-bottom: -5px;
      transition: transform 3s ease-in-out;
    }

    .controls {
      max-height: 0px;
      padding: 0 12px;
      overflow: hidden;
      transition: all 0.5s 1s;
      margin-top: 0px;
      background-color: solid(color.adjust($bg, $lightness: -85%));
      @include box-shadow(0px, 4px, 4px, #000);

      & > div {
        margin: 10px 0;
        padding: 2px 0 10px;
      }
    }

    &:hover {
      .cogwheel {
        transform: rotate(180deg);
      }

      .controls {
        transition-delay: 0.2s;
        @include box-shadow(6px, 4px, 4px, #000);
        max-height: 180px;
      }
    }
  }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  opacity: 0.85;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  img {
    border: 0;
    display: block;
  }
}

#fps {
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-family: monospace;
  font-size: $text-size;
  color: $text-color;
  opacity: 0.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

#lifetime,
#celsize {
  width: 180px;
}
